* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background-color: rgb(226,229,229);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 400px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: rgb(180,180,180);
  padding: 25px;
  border-radius: 10px;
  width: 1000px;
  min-width: 1000px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  min-height: 350px;
}

.picture {
  background-image: url('../code.jpg');
  height: 400px;
  width: 100%;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
}

.gradient {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  padding-top: 100px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, rgba(108,40,126,.85) 0%, rgba(38,41,90,.85) 100%);
  border-radius: 10px;
}

.logo {
  /* margin-top: 6.5vh; */
}

.link {
  color: white;
  margin-bottom: 10px;
}

.link > a:link {
  color: rgb(255,255,255);
}

.link > a:visited {
  color: rgb(255,255,255);
}

a:link {
  color: rgb(108,40,126);
}

a:visited {
  color: rgb(108,40,126);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 400px;
  margin-right: 25px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: rgb(108,40,126);
  font-size: 2rem;
}

p {
  font-family: 'Lato', sans-serif;
  color: rgb(9,10,17);
  font-size: 16px;
  text-align: justify;
}

.input {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: rgb(9,10,17);
  margin: 5px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  width: 210px;
}

.input > input {
  font-family: 'Lato', sans-serif;
  color: rgb(9,10,17);
  border: none;
  border-radius: 25px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgb(226,229,229);
  box-shadow: none;
  margin-top: 5px;
}

.input > input:focus {
  font-family: 'Lato', sans-serif;
  font-weight:400;
  color: white;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgba(108,40,126,.85) 0%, rgba(38,41,90,.85) 100%);
  outline: none;
}

::placeholder {
  font-family: 'Lato', sans-serif;
  color: #484961;
  font-weight:400;
}


.log-in {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
}

.columns {
  display: flex;
}

.col-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.col-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  font-family: 'Poppins', sans-serif;
  color: rgb(9,10,17);
  background-color: rgb(226,229,229);
  padding: 10px;
  margin-top: 15px;
  width: 125px;
  border-radius: 60px;
  border-color: rgb(108,40,126);
  font-size: 16px;
}

.button:hover {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, rgba(108,40,126,.85) 0%, rgba(38,41,90,.85) 100%);
  color: rgb(226,229,229);
  transform: scale(1.085);
  cursor: pointer;
}